body
{
    background-color: black;
    color:white;
}

.map
{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a
{
    font-size: 30px;
}

.point-1
{
    top: 14%;
    left: 2%;
}

.star
{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 6px solid white;
}

.star1-text
{
    display: none;
    color: #ff5722;

}

.star:hover
{
    border: 6px solid rgb(41, 3, 255);
}

.info-text:hover .star1-text 
{
  display: block;
}

