body
{
    background-color: black;
    color:white;
}

.map
{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a
{
    font-size: 30px;
}

.point-1
{
    top: 13.5%;
    left: 2%;
}

.point-2
{
    top: 16%;
    left: 15%;
}

.point-3
{
    top: 22%;
    left: 21%;
}

.star
{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.star1-text
{
    display: none;
    color: #ffffff;
    font-size: 30px;
}

.star:hover
{
    background-color: rgb(1, 52, 255);
}

.info-text:hover
{
    .star1-text
    {
        display: block;
    }
    
}
